---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/layout/Navbar.astro';
import Hero from '../components/home/Hero.astro';
import Pillars from '../components/home/Pillars.astro';
import Testimonials from '../components/home/Testimonials.astro'; // <--- Importar
---

<Layout title="Lampei International Ministries">
    
    <main>
        <Hero />
        
        <Pillars />
        
        <Testimonials />
        
    </main>
</Layout>