---
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/common/PageHeader.astro';
import TeamGrid from '../components/team/TeamGrid.jsx';
import { teamData } from '../data/team';
---

<Layout title="Leadership Team | Lampei International Ministries">
    <main>
        <PageHeader 
            title={teamData.title} 
            subtitle={teamData.subtitle} 
            backgroundImage={teamData.headerImage}
        />

        <TeamGrid client:load members={teamData.members} />
        
    </main>
</Layout>