---
interface Props {
  title: string;
  subtitle: string;
  backgroundImage?: string; // Añadimos '?' para hacerla opcional
}

const { 
  title, 
  subtitle, 
  backgroundImage = "https://images.unsplash.com/photo-1451187580459-43490279c0fa?q=80&w=2072" 
} = Astro.props;
---

<div class="relative py-24 md:py-32 flex items-center justify-center overflow-hidden bg-slate-900">
  <div 
    class="absolute inset-0 z-0 bg-cover bg-center opacity-40"
    style={`background-image: url('${backgroundImage}');`}
  ></div>
  </div>